.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background: #00203FFF;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  width: 10rem;
  height: 4.5rem;
  background-image: url("../assets/logo5_resized.gif");
  background-repeat: no-repeat;
  background-size: 10rem;
  margin: 0.5rem 1rem;
}

a {
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.5;
}
