* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'montserrat', sans-serif;
}

.quote {
  font-family: 'Style Script', cursive;
  color: rgb(194, 193, 193);
  font-size: 2rem;
}

body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background: #00203fff;
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}

.logo {
  width: 10rem;
  height: 4.5rem;
  background-image: url("../assets/logo5_resized.gif");
  background-repeat: no-repeat;
  background-size: 10rem;
  margin: 0.5rem 1rem;
}

.navbar a {
  margin-right: 2.5rem;
  text-decoration: none;
  color: #fff;
  font-family: 'Style Script', cursive;
  font-size: 2.2rem;
}

a:hover {
  opacity: 0.5;
}

main {
  padding: 1rem;
  margin-top: 5rem;
  color: #00203fff;
  font-family: 'Open Sans Condensed', sans-serif;
}

main a {
  color: #00203fff;
}

form {
  display: flex;
  justify-content: center;
  border: 1px solid #00203fff;
  border-radius: 1rem;
  width: fit-content;
  margin: 1rem auto 0 auto;
}

form input {
  padding: 1rem;
  width: 40rem;
  border: none;
  border-radius: 1rem;
}

form button {
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 1rem;
  color: #00203fff;
}

form button:hover {
  opacity: 0.5;
  cursor: pointer;
}

form i {
  padding: 1rem;
  color: #00203fff;
}

.titles {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 1.5rem auto 0.5rem auto;
  width: max-content;
  background: #00203fff;
  color: rgb(194, 193, 193);
  border-left: 0.5rem solid rgb(194, 193, 193);
  padding: 0.1rem 1rem;
  border-radius: 0.2rem;
}

.flex {
  display: flex;
}

.categories-container {
  flex-wrap: wrap;
  flex-grow: 1;
  width: 85%;
  margin: 0 auto;
}

.cat-item {
  flex: 1 0 14.2%;
  margin: 0 auto 0.5rem auto;
  border: none;
  background: none;
}

.category {
  width: 10rem;
  margin: 0 auto;
}

.category img {
  width: 10rem;
}

.cat-name {
  text-align: center;
  font-size: 0.8rem;
  color: rgb(194, 193, 193);
}

.category-desc {
  padding: 0.5rem 1rem;
  font-size: 0.7rem;
  width: 10rem;
}

.category-desc:hover {
  overflow: visible;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  display: none;
  width: 20rem;
  background-color: #00203fff;
  font-weight: bold;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  /* Position the tooltip */
  position: absolute;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  display: inline-block;
}

.meal-container {
  flex-wrap: wrap;
  justify-content: space-around;
}

.meal-container a {
  text-decoration: none;
}

.t-meal {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.meal {
  width: 16rem;
  margin: 0 1rem 2rem 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.meal:hover {
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.meal img {
  display: block;
  width: 14rem;
  border-radius: 0.4rem;
  margin: 0 auto;
  padding-top: 0.5rem;
}

.meal h3 {
  text-align: center;
  color: rgb(194, 193, 193);
  font-size: 0.9rem;
  padding: 0.2rem;
}

/* Details */
.detail-con {
  line-height: 1.6;
  margin-bottom: 2rem;
}

.detail-con h1 {
  font-size: 3rem;
  margin: 2rem 0 3rem 0;
  border-bottom: 2px solid #00203fff;
  width: max-content;
  line-height: 1;
}

.detail-main {
  justify-content: space-between;
}

.instructions {
  margin: 0 1rem 0 2rem;
  text-align: justify;
}

.instructions h2 {
  font-size: 3rem;
  text-indent: 2rem;
}

.instructions p {
  font-size: 1.2rem;
  text-indent: 2rem;
}

iframe {
  width: 40rem;
  height: 20rem;
}

.detail-main img {
  width: 40rem;
}

.d-paragraph {
  text-indent: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.d-title {
  font-weight: bold;
  font-size: 1.8rem;
}

.detail-con .d-table {
  margin: 1rem auto 2rem auto;
}

/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.fas {
  font-size: 1.6rem;
  margin: 0 0.7rem 0 0.7rem;
}

/* Footer */
footer {
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.6rem;
  background-color: #00203fff;
  color: #fff;
}

footer .fas {
  font-size: 0.6rem;
  margin: 0;
}

footer a {
  padding: 0 0.5rem;
  color: #fff;
}
