* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}

body {
    margin: 0;
}

main {
    padding: 1rem;
    margin-top: 5rem;
}

main a {
    color: #00203FFF;
}

form {
    margin: 0 auto;
}

form input {
    padding: 1rem;
    width: 40rem;
}

form i {
    padding: 1rem;
}

.flex {
    display: flex;
}

.categories-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    width: 10rem;
}

.category img {
    width: 10rem;
}

.category-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 1rem;
}

.meal-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal {
    width: 20rem;
}

.meal img {
    width: 20rem;
}

/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.fas {
    font-size: 1.6rem;
    margin: 0 0.7rem 0 0.7rem;
}

/* Footer */
footer {
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.6rem;
    background-color: #00203FFF;
    color: #fff;
}

footer .fas {
    font-size: 0.6rem;
    margin: 0;
}

footer a {
    padding: 0 0.5rem;
    color: #fff;
}

.fa-search {
    font-size: 1rem;
}
