.flex {
    display: flex;
}

.categories-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    width: 10rem;
}

.category img {
    width: 10rem;
}

.category-desc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 1rem;
}

.meal-container {
    flex-wrap: wrap;
    justify-content: space-around;
}

.meal {
    width: 20rem;
}

.meal img {
    width: 20rem;
}

/* Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
